.head {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 42px;

    .head-header {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        color: var(--blue);
    }

    .head-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .lists {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .files-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
    }

    .file-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        label {
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            color: var(--grey);
        }

        a {
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            color: var(--grey);
            max-width: 85px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: underline;
        }
    }

    .text-list {
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
        }
    }
}

.callback-form {
    display: flex;
    flex-direction: column;
    
    form {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    form p {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    form label {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        color: var(--grey);
    }

    .callback-form__btn {
        align-self: end;
    }
}

.accordeon {
    display: flex;
    flex-direction: column;
    gap: 17px;
    list-style: none;
    align-items: start;

    .accordeon-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }

    .accordeon-title {
        display: flex;
        gap: 5px;
    }

    .accordeon-title__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        color: var(--blue);
    }
}

.subaccordeon {
    display: flex;
    flex-direction: column;
    list-style: none;

    .subaccordeon-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .subaccordeon-header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 150px;
    }

    .subaccordeon-header__company,
    .subaccordeon-header__status,
    .subaccordeon-header__date {
        text-align: start;
    }

    .subaccordeon-header__company {
        display: flex;
        gap: 4px;
    }

    .subaccordeon-header__company-title {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        color: var(--blue);
    }

    .subaccordeon-header__status {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        
        &.success {
            color: #08A600;
        }

        &.error {
            color: var(--red);
        }

        &.process {
            color: var(--grey)
        }
    }

    .subaccordeon-header__date {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        color: var(--grey);
    }
}

.profile {
    .form-btns {
        display: flex;
        gap: 17px;
    }
}

.archive {
    .archive-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: start;
        margin-left: 40px;
    }

    .archive-list__link {
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        text-decoration: underline;
        color: var(--grey);
    }
}

.current-archive {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .survey_form {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            color: var(--blue);
        }

        input {
            border: 1px solid var(--blue);
            height: 67px;
            width: 100%;

            &::placeholder {
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                color: var(--grey);
            }
        }

        /* select {
            border: 1px solid var(--blue);
            padding: 24px;
            height: 67px;
            width: 100%;
            position: relative;
        } */

        i {
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            line-height: 15px;
            color: var(--grey);
            margin-left: 20px;
        }
    }

    .comment {
        .comment__title {
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            color: var(--red);
        }
    
        .comment__text {
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            color: var(--grey);
            margin-left: 40px;
        }
    }

    .specialization {

    }


    .position {
        .position-inputs {
            display: flex;
            gap: 32px;
        }

        .position-inputs__left,
        .position-inputs__right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .position-inputs__left-title,
        .position-inputs__right-title {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
            color: var(--grey);
        }

        .positions-content {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .revenue {
        .revenue-price {
            font-size: 14px;
            font-weight: 700;
            line-height: 16.94px;
            color: var(--grey);
        }

        .revenue-inputs {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
        }

        .revenue-inputs__item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-top: 10px;
            align-self: flex-end;
        }

        .revenue-inputs__item-title {
            flex-grow: 1;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
            color: var(--grey);
        }
    }

    .categs {
        display: flex;
        justify-content: space-between;

        .categs-item {
            font-size: 14px;
            font-weight: 700;
            line-height: 16.94px;
            color: var(--grey);
        }
    }

    .survey_form__btns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
}

