{% extends "base.html" %}
{% block title %}Заполнение анкеты{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/user.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/registration.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/moderator.css' %}" />

<ul class="accordeon">
    <li class="accordeon-item">
        <div class="accordeon-title">
            <img src="{% static 'images/plus.svg' %}" class="accordeon-item__open-symbol--plus hidden" />
            <img src="{% static 'images/minus.svg' %}" class="accordeon-item__open-symbol--minus" />
            <p class="accordeon-title__text">Общая информация</p>
        </div>
        <div class="accordeon-body general">
            <form class="general-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="general-left">
                    <div class="group-form">
                        <div class="input-title">Заголовок</div>
                        <input type="text" class="input">
                    </div>
                    <div class="group-form">
                        <div class="input-title">Период</div>
                        <input type="text" class="input">
                    </div>
                    <div class="group-form">
                        <div class="input-title">Главная страница</div>
                        <textarea class="input-textarea"></textarea>
                    </div>
                </div>
                <div class="general-right">
                    <p class="general-right__title">Справочная информация</p>
                    <ul class="general-list">
                        <li class="general-list__item">
                            <p class="general-list__item-text">Методология</p>
                            <a class="general-list__item-link" href="">Методоasdfasdfdocx</a>
                            <button class="btn-primary">Заменить файл</button>
                        </li>
                        <li class="general-list__item">
                            <p class="general-list__item-text">Уставные документы рейтинга</p>
                            <a class="general-list__item-link" href="">Методоasdfasdfdocx</a>
                            <button class="btn-primary">Заменить файл</button>
                        </li>
                        <li class="general-list__item">
                            <p class="general-list__item-text">Результаты «для участников» старых рейтингов</p>
                            <a class="general-list__item-link" href="">Методоasdfasdfdocx</a>
                            <button class="btn-primary">Заменить файл</button>
                        </li>
                    </ul>
                </div>
                <button type="submit" class="btn-submit">Сохранить</button>
            </form>
        </div>
    </li>
    <li class="accordeon-item">
        <div class="accordeon-title">
            <img src="{% static 'images/plus.svg' %}" class="accordeon-item__open-symbol--plus" />
            <img src="{% static 'images/minus.svg' %}" class="accordeon-item__open-symbol--minus hidden" />
            <p class="accordeon-title__text">Анкеты 2024</p>
        </div>
        <div class="accordeon-body mod-archive-sub hidden">
            <ul class="subaccordeon" id="mod-archive">
                <li class="subaccordeon-item">
                    <div class="subaccordeon-header">
                        <div class="subaccordeon-header__company">
                            <img src="{% static 'images/plus.svg' %}" class="subaccordeon-item__open-symbol--plus" />
                            <img src="{% static 'images/minus.svg' %}" class="subaccordeon-item__open-symbol--minus hidden" />
                            <span class="subaccordeon-header__company-title">Михайлова</span>
                        </div>
                    </div>
                    <div class="subaccordeon-body hidden" style="margin-left: 20px;">
                        <a class="archive-list__link">Анкета.pdf</a>
                    </div>
                </li>
                <li class="subaccordeon-item">
                    <div class="subaccordeon-header">
                        <div class="subaccordeon-header__company">
                            <img src="{% static 'images/plus.svg' %}" class="subaccordeon-item__open-symbol--plus" />
                            <img src="{% static 'images/minus.svg' %}" class="subaccordeon-item__open-symbol--minus hidden" />
                            <span class="subaccordeon-header__company-title">Михайлова</span>
                        </div>
                    </div>
                    <div class="subaccordeon-body hidden" style="margin-left: 20px;">
                        <a class="archive-list__link">Анкета.pdf</a>
                    </div>
                </li>
                <p class="archive-list__no-items">Анкет пока нет.</p>
            </ul>
        </div>
    </li>
    <li class="accordeon-item">
        <div class="accordeon-title">
            <img src="{% static 'images/plus.svg' %}" class="accordeon-item__open-symbol--plus" />
            <img src="{% static 'images/minus.svg' %}" class="accordeon-item__open-symbol--minus hidden" />
            <p class="accordeon-title__text">Анкеты 2025</p>
        </div>
        <div class="accordeon-body hidden">
          {% for company_name, surveys in company_surveys.items %}
            <ul class="subaccordeon ankets" id="ankets">
                <li class="subaccordeon-item">
                    <div class="subaccordeon-header">
                        <div class="subaccordeon-header__company">
                            <img src="{% static 'images/plus.svg' %}" class="subaccordeon-item__open-symbol--plus" />
                            <img src="{% static 'images/minus.svg' %}" class="subaccordeon-item__open-symbol--minus hidden" />
                            <span class="subaccordeon-header__company-title">{{ company_name }}</span>
                        </div>
                    </div>
                    <div class="subaccordeon-body hidden" style="margin-left: 20px;">
<!--                      {{ surveys }}-->
                      {% for survey_data in surveys %}
                    {{ survey_data }}
                        <form class="anket_form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ survey_data.survey.management_form }}
                            {{ survey_data.survey.positionings.management_form }}
                            {{ survey_data.survey.revenues.management_form }}
                            {{ survey_data.survey.employees.management_form }}
                            {{ survey_data.survey.awards.management_form }}
                            {{ survey_data.survey.events.management_form }}
                            <div class="form-group">
                                <label for="{{ survey_data.survey.company_name.id_for_label }}">1. Фирменное название компании, под которым компания или группа компаний позиционирует себя на рынке</label>


<div class="form-text"><p class="form-text__title">{{ survey_data.survey.company_name }}</p></div>
                            </div>
                            <div class="form-group">
                                <label for="{{ survey_data.survey.company_address.id_for_label }}">2. Адрес головного офиса компании (представительства и головной компании для международных сетевыхх компаний)</label>
                                <div class="form-text">
                                    <p class="form-text__title">{{ survey_data.survey.company_address }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ survey_data.survey.specialization.id_for_label }}">3. Основная специализация компании</label>
                                <div class="form-text">
                                    <p class="form-text__title">{{ survey_data.survey.specialization }}</p>
                                </div>
                            </div>
                            <div class="form-group position">
                                <label for="{{ survey_data.survey.service.id_for_label }}">4. Приоритетное позиционирование компании</label>
                                <div class="form-text">
                                    <p class="form-text__title">{{ survey_data.survey.specialization }}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group geography">
                                <label for="{{ survey_data.survey.geography_activity.id_for_label }}">5. Укажите Географию активности компании</label>
                                <div class="form-text">
                                    <div class="form-text__title">
                                      {{ survey_data.survey.geography_activity }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group revenue" >
                                <label >6. Совокупная выручка от осуществления коммуникационной деятельности Вашей компанией или группой компаний, полученная:</label>
                                <div class="form-text">
                                    <div class="form-text__title">
                                        Совокупная выручка: {% for revenue in survey_data.revenues %}{{ revenue.calculate_total_revenue_for_survey }} {% endfor %}
                                    </div>
                                    {% for revenue in survey_data.revenues %}

                                    <div class="form-text__title grid">
                                        <span class="grid-item">
                                            {{ revenue.company_name }}
                                        </span>
                                        <div class="grid-item">{{ revenue.inn }}</div>
                                        <div class="grid-item">{{ revenue.ownership_share }}</div>
                                        <div class="grid-item">{{ revenue.buying_share }}</div>
                                        <div class="grid-item">{{ revenue.revenue_amount }}</div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group position">
                                <label>7. Количество сотрудников компании (группы компаний) на конец года:</label>
                                {% for employee in survey_data.employees %}

                                <div class="form-text">
                                    <div class="form-text__title grid">
                                        <span class="grid-item">
                                            {{ employee.department }}
                                        </span>
                                        <div class="grid-item">{{employee.employee_count}}</div>
                                    </div>
                                </div>

                                {% endfor%}
                            </div>
                            <div class="form-group">
                                <label for="{{ survey_data.survey.company_age.id_for_label }}">8. Возраст компании</label>
                                <div class="form-text">
                                    <div class="form-text__title">
                                        {{ survey_data.survey.company_age }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group premia">
                                <label>9. Премии, полученные компанией в течение 2024 года</label>
                                <div class="form-text">
                                    <div class="form-text__title grid">
                                        <span class="grid-item">
                                            Категория А: 12 наград, 15 шорт листов
                                            <div class="sub-grid">
                                                <span class="sub-grid-item">Премия 1</span>
                                                <span class="sub-grid-item">A</span>
                                            </div>
                                        </span>
                                        <div class="grid-item">
                                            Категория Б: 12 наград, 15 шорт листов
                                            <div class="sub-grid-premia">
                                                <span class="sub-grid-item">Награды: 2</span>
                                                <span class="sub-grid-item">Награды: 2</span>
                                            </div>
                                        </div>
                                        <span class="grid-item">
                                            Категория В: 12 наград, 15 шорт листов
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mero">
                                <label>10. Количество профессиональных мероприятий, организованных в течение года:</label>
                                <div class="form-text">
                                    <div class="form-text__title">
                                        Совокупная выручка: 230 000 000
                                    </div>
                                    <div class="form-text__title grid">
                                        <span class="grid-item">
                                            EMG -1
                                        </span>
                                        <div class="grid-item">12345678901</div>
                                    </div>
                                    <div class="form-text__title grid">
                                        <span class="grid-item">
                                            EMG -1
                                        </span>
                                        <div class="grid-item">46 000 000</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="{{ survey_data.survey.num_expert_employees.id_for_label }}">11. Количество сотрудников, входящих в экспертные/наблюдательные советы профессиональных организаций/мероприятий, выступающих с профильными докладами на отраслевых мероприятиях</label>
                                <div class="form-text">
                                    <div class="form-text__title">
                                        {{ survey_data.survey.num_expert_employees }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ survey_data.survey.num_employees_over_3_years.id_for_label }}">12. Количество сотрудников компании, работающих в ней более 3 лет </label>
                                <div class="form-text">
                                    <div class="form-text__title">
                                        {{ survey_data.survey.num_employees_over_3_years }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ survey_data.survey.num_employees_in_communications.id_for_label }}">13. Количество сотрудников компании, работающих в коммуникациях более 3 лет</label>
                                <div class="form-text">
                                    <div class="form-text__title">
                                       {{ survey_data.survey.num_employees_in_communications }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group position">
                                <label for="{{ survey_data.survey.num_government_awards.id_for_label }}">14. Количество профессиональных сертификатов, а также государственных наград, полученных сотрудниками компании за профессиональную деятельность</label>
                                <div class="form-text">
                                    <div class="form-text__title grid">
                                        <span class="grid-item">
                                            Госнаграды РФ
                                        </span>
                                        <div class="grid-item">{{ survey_data.survey.num_government_awards }}</div>
                                    </div>
                                    <div class="form-text__title grid">
                                        <span class="grid-item">
                                            Профильные сертификаты РАСО, IABC, АКОС
                                        </span>
                                        <div class="grid-item">{{ survey_data.survey.num_certificates }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <textarea class="comment-textarea"></textarea>
                                <div class="btns">
                                    <div class="btn-primary--disabled">На доработку</div>
                                    <div class="btn-primary--disabled">Одобрено</div>
                                    <div class="btn-primary--disabled">Принято</div>
                                </div>
                            </div>
                        </form>
                      {% endfor %}
                    </div>
                </li>
            </ul>
         {% endfor %}<!-- для company name и surveys -->
        </div>
    </li>
    <li class="accordeon-item">
        <div class="accordeon-title">
            <img src="{% static 'images/plus.svg' %}" class="accordeon-item__open-symbol--plus" />
            <img src="{% static 'images/minus.svg' %}" class="accordeon-item__open-symbol--minus hidden" />
            <p class="accordeon-title__text">Участники</p>
        </div>
        <div class="accordeon-body ankets-sub">
            <ul class="subaccordeon participans" id="participans">
                <li class="subaccordeon-item">
                    <div class="subaccordeon-header">
                        <div class="subaccordeon-header__company">
                            <img src="{% static 'images/plus.svg' %}" class="subaccordeon-item__open-symbol--plus" />
                            <img src="{% static 'images/minus.svg' %}" class="subaccordeon-item__open-symbol--minus hidden" />
                            <span class="subaccordeon-header__company-title">Михайлова</span>
                        </div>
                    </div>
                    <div class="subaccordeon-body profile hidden" style="margin-left: 20px;">
                        <form class="register-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ profile_form.management_form }}
                            {{ user_form.management_form }}
                            {{ password_form.management_form }}
                            <div class="form-group">
                                <label for="{{ user_form.username.id_for_label }}">Логин (email)</label>
                                {{ user_form.username }}
                            </div>
                            <div class="form-group">
            
                                <label for="{{ password_form.password.id_for_label }}">Пароль</label>
                                {{ password_form }} <!-- на бэке не работает -->
                            </div>
                        
                            <div class="form-group">
                                <label for="{{ company_form.email_for_newsletters.id_for_label }}">Email для новостей/рассылок НР2К</label>
                                {{ profile_form.email_for_newsletters }}
                            </div>
                            <div class="form-group">
                                <label for="{{ company_form.company_name_full.id_for_label }}">Название компании (полное)</label>
                                {{ profile_form.company_name_full }}
                            </div>
                            <div class="form-group">
                                <label for="{{ company_form.company_name_short.id_for_label }}">Название компании (краткое)</label>
                                {{ profile_form.company_name_short }}
                            </div>
                            <div class="form-group">
                                <label for="{{ company_form.postal_code.id_for_label }}">Почтовый индекс</label>
                                {{ profile_form.postal_code }}
                            </div>
                            <div class="form-group">
                                <label for="{{ company_form.postal_address.id_for_label }}">Почтовый адрес (для корреспонденции)</label>
                                {{ profile_form.postal_address }}
                            </div>
                            <div class="form-group">
                                <label for="{{ company_form.responsible_email.id_for_label }}">Email ответственного</label>
                                {{ profile_form.responsible_email }}
                            </div>
                            <div class="form-group">
                                <label for="{{ company_form.responsible_name.id_for_label }}">Имя и фамилия ответственного</label>
                                {{ profile_form.responsible_name }}
                            </div>
                            <div class="form-group">
                                <label for="{{ company_form.responsible_phone.id_for_label }}">Телефон ответственного</label>
                                {{ profile_form.responsible_phone }}
                            </div>
                            <div class="form-group register-img">
                                <label for="{{ company_form.company_logo.id_for_label }}">Логотип компании (png или svg)</label>
                                <input type="file" name="company_logo" accept="image/*" required="" id="id_company_logo">
            
                                {% if profile_form.company_logo %}
                                    <img width="25%" height="25%" src="{{ profile.company_logo.url }}" alt="Company Logo">
                                {% else %}
                                    <p>No logo available</p>
                                {% endif %}
                                <div class="register-img__body">
                                    <button type="button" class="register-img__btn btn-primary">Загрузить файл</button>
                                    <div class="register-img__text">
                                        <span class="register-img__text-title"></span>
                                        <button type="button" class="register-img__btn--delete hidden">
                                            <img src="{% static 'images/chrest.svg' %}" alt="delete img">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- {{ company_form.consent_data_processing }} -->
                            </div>
                        
                            <div class="form-btns">
                                <button type="button" class="btn-primary" id="btn-change-form">Редактировать</button>
                                <button class="btn-primary--disabled" disabled type="submit" id="btn-submit-form">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>
{% endblock %}