{% extends "base.html" %}
{% block title %}Заполнение анкеты{% endblock %}
{%block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/user.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/registration.css' %}" />
<div class="head">
  <h1 class="head-header">Общая информация</h1>

  <div class="head-content">
    <div class="lists">
      <ul class="files-list">
        <li class="file-item">
          <label>Методология</label>
          <a href="{{ general_info.methodology_file }}" target="_blank">
            {{ methodology_file }}
            <!-- надо добавить расширение файла отдельно -->
          </a>
        </li>
        <li class="file-item">
          <label>Уставные документы рейтинга</label>
          <a href="{{ general_info.charter_file }}" target="_blank">
            {{ charter_file }}
          </a>
        </li>
        <li class="file-item">
          <label>Результаты "для участников" старых рейтингов</label>
          <a href="{{ general_info.results_file }}" target="_blank">
            {{ results_file }}
          </a>
        </li>
        <!-- <li class="file-item">
                <label>{{ general_info.title }}</label>
                </li>      -->
      </ul>
      <ul class="text-list">
        <li>Анкету необходимо предоставить до: 26 апреля 2025 года</li>
        <li>
          Анкету необходимо заверить подписью ответственного лица и печатью
          организации.
        </li>
        <li>Материалы предоставляются в версии pdf (заверенная версия).</li>
        <li>Заверяется только первый лист анкеты.</li>
        <li>
          По всем вопросам, связанным с участием в рейтинге и/или заполнением
          анкеты, пишите на profiles@nr2c.ru.
        </li>
      </ul>
    </div>

    <div class="callback-form">
      <form method="post" enctype="multipart/form-data">
        {{ user_message_form.as_p }}
        <button
          class="callback-form__btn btn-primary--disabled"
          type="submit"
          name="save_all"
          disabled
        >
          Отправить
        </button>
      </form>
    </div>
  </div>
</div>
<ul class="accordeon">
    <li class="accordeon-item">
        <div class="accordeon-title">
            <img src="{% static 'images/plus.svg' %}" class="accordeon-item__open-symbol--plus" />
            <img src="{% static 'images/minus.svg' %}" class="accordeon-item__open-symbol--minus hidden" />
            <p class="accordeon-title__text">Профиль</p>
        </div>
        <div class="accordeon-body hidden profile">
            <form class="register-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ user_form.username.id_for_label }}">Логин</label>
                    {{ user_form.username }}
                    {% for error in user_form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ user_form.email.id_for_label }}">email</label>
                    {{ user_form.email }}{% for error in user_form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}

                </div>
                <div class="form-group">
                    <label for="id_new_password">Пароль</label>
                    {{ password_form }}
                </div>
            
                <div class="form-group">
                    <label for="{{ profile_form.email_for_newsletters.id_for_label }}">Email для новостей/рассылок НР2К</label>
                    {{ profile_form.email_for_newsletters }}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.company_name_full.id_for_label }}">Название компании (полное)</label>
                    {{ profile_form.company_name_full }}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.company_name_short.id_for_label }}">Название компании (краткое)</label>
                    {{ profile_form.company_name_short }}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.postal_code.id_for_label }}">Почтовый индекс</label>
                    {{ profile_form.postal_code }}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.postal_address.id_for_label }}">Почтовый адрес (для корреспонденции)</label>
                    {{ profile_form.postal_address }}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.responsible_email.id_for_label }}">Email ответственного</label>
                    {{ profile_form.responsible_email }}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.responsible_name.id_for_label }}">Имя и фамилия ответственного</label>
                    {{ profile_form.responsible_name }}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.responsible_phone.id_for_label }}">Телефон ответственного</label>
                    {{ profile_form.responsible_phone }}
                </div>
                <div class="form-group register-img">
                    <label for="{{ company_form.company_logo.id_for_label }}">Логотип компании (png или svg)</label>
                    <input type="file" name="company_logo" accept="image/*" id="id_company_logo">

                    {% if profile_form.company_logo %}
                        <img class="register-img__img" width="25%" height="25%" src="{{ profile.company_logo.url }}" alt="Company Logo">
                    {% else %}
                        <p>No logo available</p>
                    {% endif %}
                    <div class="register-img__body">
                        <button type="button" class="register-img__btn btn-primary--disabled">Загрузить файл</button>
                        <div class="register-img__text">
                            <span class="register-img__text-title"></span>
                            <button type="button" class="register-img__btn--delete hidden">
                                <img src="{% static 'images/chrest.svg' %}" alt="delete img">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- {{ company_form.consent_data_processing }} -->
                </div>
            
                <div class="form-btns">
                    <button type="button" class="btn-primary" id="btn-change-form">Редактировать</button>
                    <button class="btn-primary--disabled" disabled name="edit_profile" id="btn-submit-form" type="submit" >Сохранить</button>
                </div>
            </form>
        </div>
    </li>
    <li class="accordeon-item">
        <div class="accordeon-title">
            <img src="{% static 'images/plus.svg' %}" class="accordeon-item__open-symbol--plus" />
            <img src="{% static 'images/minus.svg' %}" class="accordeon-item__open-symbol--minus hidden" />
            <p class="accordeon-title__text">Архив анкет</p>
        </div>
        <div class="accordeon-body archive hidden">
            <ul class="archive-list">
                {% for survey in old_surveys %}
                <li class="archive-list__item">
                    <a class="archive-list__link" href="{% url 'view_survey' survey.id %}">{{ survey.submission_date|date:"d.m.Y" }}</a>
                </li>
                {% empty %}
                <p class="archive-list__no-items">Анкет пока нет.</p>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li class="accordeon-item">
        <div class="accordeon-title">
            <img src="{% static 'images/plus.svg' %}" class="accordeon-item__open-symbol--plus" />
            <img src="{% static 'images/minus.svg' %}" class="accordeon-item__open-symbol--minus hidden" />
            <p class="accordeon-title__text">Анкеты 2025</p>
        </div>
        <div class="accordeon-body current-archive hidden">
            <form class="survey_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ survey_form.management_form }}
                {{ positioning_formset.management_form }}
                {{ revenue_formset.management_form }}
                {{ employees_formset.management_form }}
                {{ awards_formset.management_form }}
                {{ events_formset.management_form }}
                <div class="form-group status">
                {% if latest_status  %}
                    <span class="comment__title">- Текущий статус: {{ latest_status.get_status_display }}</span>
                {% endif %}
                </div>
                <div class="form-group comment">

                    {% if survey_form.instance.moderator_comment  %}<span class="comment__title">- Комментарий</span><p class="comment__text">{{ survey_form.instance.moderator_comment }}</p>{% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ survey_form.company_name.id_for_label }}">1. Фирменное название компании, под которым компания или группа компаний позиционирует себя на рынке</label>
                    {{ survey_form.company_name }}
                </div>
                <div class="form-group">
                    <label for="{{ survey_form.company_address.id_for_label }}">2. Адрес головного офиса компании (представительства и головной компании для международных сетевыхх компаний)</label>
                    {{ survey_form.company_address }}
                </div>
                <div class="form-group specialization">
                    <label for="{{ survey_form.specialization.id_for_label }}">3. Основная специализация компании</label>
                    <i>Укажите ОДНУ основную специализацию, если специализаций несколько, указывайте п.1 - "Полного цикла" </i>
                    <div class="custom-select">{{ survey_form.specialization }}
                    </div>
                </div>
                <div class="form-group position" id="positioning">
                    <label for="{{ positioning_formset.service.id_for_label }}">4. Приоритетное позиционирование компании</label>
                    <div class="form-group-checkboxes">
                        {% for form in positioning_formset %}
                        {{ form.id }}
                        {{ form.mask_for_deletion }}
                        {% endfor %}
                    </div>
                    <i>В рамках изучения особенностей позиционирования компаний Наблюдательным советом принято решение дать возможность компаниям
                            указать свое приоритетное позиционирование, а также предоставить возможность подкрепить эту информацию данными о распределении 
                            выручки по видам коммуникационной деятельности. В 2024 году информация собирается справочно и будет использована в рамках дальнейших работ по развитию рейтинга.
                            На позиции компаний в рейтинге этого года предоставленная информация не влияет.
                    </i>

                    <div class="input-rows">
                        {% for form in positioning_formset %}
                            <div class="input-row">
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Позиционирование</span>
    
                                    <div class="custom-select">
                                        {{ form.id }}{{ form.service }}
                                    </div>
                                </div>
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Распределение выручки (%)</span>
                                    {{ form.revenue_share }}
                                </div>
                                <button class="input-row__btn-delete" type="button">Удалить</button>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="button-container">
                        <button class="btn-str" type="button">+ Добавить строку</button>
                    </div>
                </div>
                <div class="form-group geography">
                    <label for="{{ survey_form.geography_activity.id_for_label }}">5. Укажите Географию активности компании</label>
                    <i>Возможные варианты:
                        "Федеральный уровень": более 50% проектов агентства в течение годе реализованы в 2-х и более ФО РФ, либо же на федеральном уровне. Агентства, работающие в столице, не являются "федеральными" по умолчанию.
                        "Региональный уровень, регион": проекты реализуются в рамках одного региона.Указывается регион активности агентства.</i>
                    <div class="custom-select">
                        <select>
                            <option value="geography1">Федеральный уровень</option>
                            <option value="geography2">Региональный уровень</option>
                        </select>
                    </div>
                </div>
                <div class="form-group revenue" id="revenue">
                    <label >6. Совокупная выручка от осуществления коммуникационной деятельности Вашей компанией или группой компаний, полученная:</label>
                    <div class="form-group-checkboxes hidden">
                        {% for form in revenue_formset %}{{ form.id }}{{ form.mask_for_deletion }}{% endfor %}
                    </div>
                    <i>С 2022 года оператор сверяет выручку компании с данными ФНС России, согласно представленным в анкете ИНН. Для сверки используется сервис https:// bo.nalog.ru/. Перед подачей анкеты вы можете проверить какие именно данные есть у ФНС по вашим юридическим лицам. Если вы не согласны с данными ФНС, либо же часть вашей выручки по той или иной причине не учитывается сервисом (ИП, гранты, НКО и пр.), приложите к анкете документы, подтверждающие предоставляемые вами данные. В случае отсутствия документов приоритетными считаются данные ФНС, либо же проставляется 0 в выручке, если компании нет на https://bo.nalog.ru/ и дополнительные документы не предоставлены.<br>
                        Компании - заявители предоставляют данные о выручке: сведения по строке «Выручка» из Отчёта о финансовых результатах (форма по ОКУД 0710002), предоставленного в ФНС России по итогам 2023 года.<br>
                        Под выручкой понимаются полученные компанией / группой компаний от клиентов средства за вычетом НДС.<br>
                        Для группы компаний, при доле владения бизнесом 50 % +1 акция и более, выручка консолидируется в размере 100 %. Если доля владения меньше - в качестве показателя выручки для Рейтинга интегрируется доля, соответствующая доле владения.<br>
                        Для группы компаний данные о выручке представляются по форме ОКУД 0710002 по итогам 2023 года отдельно для каждого из юридических лиц, а затем суммируются.</i>

                    <b class="revenue-price" id="total-revenue"></b>
                    <div class="input-rows">
                        {% for form in revenue_formset %}
                        <div class="input-row">
                            <div class="input-row__item">
                                <span class="input-row__item-title">Компания</span>

                                {{ form.company_name }}
                            </div>
                            <div class="input-row__item">
                                <span class="input-row__item-title">ИНН</span>
                                {{ form.inn }}
                            </div>
                            <div class="input-row__item">
                                <span class="input-row__item-title">доля владения %</span>
                                {{ form.ownership_share }}
                            </div>
                            <div class="input-row__item">
                                <span class="input-row__item-title">доля баинга в выручке %</span>
                                {{ form.buying_share }}
                            </div>
                            <div class="input-row__item price">
                                <span class="input-row__item-title">доля выручки, тыс. руб.*</span>
                                {{ form.revenue_amount }}
                            </div>
                            <button class="input-row__btn-delete" type="button">Удалить</button>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="button-container">
                        <button class="btn-str" type="button">+ Добавить строку</button>
                    </div>
                </div>
                <div class="form-group" id="employees">
                    <label>7. Количество сотрудников компании (группы компаний) на конец года:</label>
                    <div class="form-group-checkboxes hidden">
                        {% for form in employees_formset %}{{ form.id }}{{ form.mask_for_deletion }}{% endfor %}
                    </div>
                    <i>Под «сотрудником компании» понимается сотрудник, с которым заключён бессрочный либо срочный трудовой договор, и сотрудник включён в штатное расписание компании.
                        При заполнении анкеты компания - заявитель не учитывает исполнителей по договорам ГПХ, индивидуальных предпринимателей, а также физических лиц, применяющих специальный налоговый режим «Налог на профессиональный доход» (самозанятых).
                        Для ГК указывается сумма данных на конец 2023 года для каждого из юр.лиц.</i>
                        <div class="input-rows">
                            {% for form in employees_formset %}
                            <div class="input-row">
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Компания</span>
                                    {{ form.department }}
                                </div>
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Количество сотрудников</span>
                                        {{ form.employee_count }}
                                </div>
                                <button class="input-row__btn-delete" type="button">Удалить</button>
                            </div>
                            {% endfor %}
                        </div>
                    <div class="button-container">
                        <button class="btn-str" type="button">+ Добавить строку</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ survey_form.company_age.id_for_label }}">8. Возраст компании</label>
                    <i>Учитывается возраст бренда либо команды - если компания меняла название в течение своей деятельности,
                            учитывается возраст с момента основания первой компании.</i>
                    <div class="row">
                    {{ survey_form.company_age }}
                </div>
                </div>
                <div class="form-group" id="awards">
                    <label>9. Премии, полученные компанией в течение 2024 года</label>
                    <div class="form-group-checkboxes hidden">
                        {% for form in awards_formset %}{{ form.id }}{{ form.mask_for_deletion }}{% endfor %}
                    </div>
                    <i>Каждая награда указывается отдельной строкой. Если вы получили 10 'Cannes Lions' за год проведения рейтинга, они должны быть вписаны в 10 строк. Необходимо указывать статус награды (шорт лист/награда/гран при), а не только название номинации (необязательно).<br>
                        Если компания вошла в шорт лист, а потом получила награду в номинации, то учитывается ТОЛЬКО более весомая награда. Если компания подет данные о 3 шорт листах и 5 победах, это значит, что в 3 случаях она была упомянута в шорт листе и награды не получила, а в 5 получила и то, и другое.<br>

                        Профессиональные премии, учитываемые в рамках рейтинга, сегментированы по Категориям – весу для репутации российских коммуникационных компаний, устанавливаемому Наблюдательным советом в результате консультаций с участниками рынка и опросов членов профессиональных организаций. Данные о распределении Премий по Категориям приведены во вкладке Категории данной анкеты.<br>
                        В рейтинг учитываются все премии, полученные компанией в течение года, без ограничений на то, за какой год были выданы премии. Т.е., например, "Серебряный лучник", полученный в 2024 году за работу в 2023, учитывается в рейтинге 2024 года.<br>
                        В случае, если участник - сетевое агентство, учитываются только те премии, которые выданы за проекты, активными участниками которых выступило российское представительство. Не надо указывать все премии, которые получила сеть за год.<br>
                        В рейтинге не учитываются благодарности клиентов, сертификаты, а также места в рейтингах (в том числе в НР2К) - в зачет идут профессиональные премии, проводимые отраслевыми проф.организациями и объединениями.<br>
                        Индивидуальные награды, получаемые лично сотрудниками, могут учитываться в списке, предоставляемом компанией, если сотрудник продолжал работу в компании на конец года, за который подаются данные.</i>
                    <div class="categs">
                        <b class="categs-item">Категория А: <span id="category-a-awards">0</span> наград, <span id="category-a-shortlist">0</span> шорт листов, <span id="category-a-grandprix">0</span> гранд приксов</b>
                        <b class="categs-item">Категория Б: <span id="category-b-awards">0</span> наград, <span id="category-b-shortlist">0</span> шорт листов , <span id="category-b-grandprix">0</span> гранд приксов</b>
                        <b class="categs-item">Категория В: <span id="category-c-awards">0</span> наград, <span id="category-c-shortlist">0</span> шорт листов , <span id="category-c-grandprix">0</span> гранд приксов</b>
                    </div>
                    <div class="input-rows">
                        {% for form in awards_formset %}
                        <div class="input-row">
                            <div class="input-row__item">
                                <span class="input-row__item-title">Премия</span>
                                {{ form.award_name }}
                            </div>
                            <div class="input-row__item">
                                <span class="input-row__item-title">Категория премии</span>
                                <div class="custom-select">{{ form.id }}{{ form.award_category }}</div>
                            </div>
                            <div class="input-row__item">
                                <span class="input-row__item-title">Тип награды</span>
                                <div class="custom-select">
                                    {{ form.id }}{{ form.award_type }}
                                </div>
                            </div>
                            <button class="input-row__btn-delete" type="button">Удалить</button>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="button-container">
                        <button class="btn-str" type="button">+ Добавить строку</button>
                    </div>
                </div>
                <div class="form-group" id="events">
                    <label>10. Количество профессиональных мероприятий, организованных в течение года </label>
                    <div class="form-group-checkboxes hidden">
                        {% for form in events_formset %}{{ form.id }}{{ form.mask_for_deletion}}{% endfor %}
                    </div>
                    <i>В параметре учитываются мероприятия, ориентированные на специалистов по коммуникациям, предполагающие равные возможности
                        доступа для всех желающих участвовать. При этом учитываются обучающие программы в ВУЗах, но не учитываются клиентские
                        обучающие программы и тренинги. Наибольший вес при подсчете имеют крупные отраслевые мероприятия (Дни PR, Baltic Weekend et c.), обучающие программы в ВУЗах учитываются как одно мероприятие при условии, что это комплексные программы. Единичные мастер классы для студентов не учитываются. НЕ УЧИТЫВАЮТСЯ КЛИЕНТСКИЕ МЕРОПРИЯТИЯ.Онлайн, а также студенческие мероприятия учитываются на 1 градацию ниже, чем оффлайн или мероприятия, ориентированные на специалистов. Т.е. курс онлайн лекций для студентов будет учитываться как небольшое мероприятие, даже если участников были "тысячи". </i>
                        <div class="input-rows">
                            {% for form in events_formset %}
                            <div class="input-row">
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Мероприятие</span>
                                    {{ form.event_name }}
                                </div>
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Аудитория</span>
                                    <div class="custom-select">
                                        {{ form.id }}{{ form.audience }}
                                    </div>
                                </div>
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Количество участников</span>
                                    {{ form.participant_count }}
                                </div>
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Формат проведения</span>
                                    <div class="custom-select">
                                        {{ form.id }}{{ form.event_format }}
                                    </div>
                                </div>
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Формат мероприятия</span>
                                    <div class="custom-select">
                                        {{ form.id }}{{ form.event_type }}
                                    </div>
                                </div>
                                <div class="input-row__item">
                                    <span class="input-row__item-title">Статус участия</span>
                                    <div class="custom-select">
                                        {{ form.id }}{{ form.participation_type }}
                                    </div>
                                </div>
                                <button class="input-row__btn-delete" type="button">Удалить</button>
                            </div>
                            {% endfor %}
                        </div>
                    <div class="button-container">
                        <button class="btn-str" type="button">+ Добавить строку</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ survey_form.num_expert_employees.id_for_label }}">11. Количество сотрудников, входящих в экспертные/наблюдательные советы профессиональных
                            организаций/мероприятий, выступающих с профильными докладами на отраслевых мероприятиях</label>
                    <i>В случае, если сотрудник отвечает сразу нескольким критериям, указывается суммарное значение.
                            Например, входит в жюри трех премий и наблюдательный совет 2-х проф.организаций, а также 6 раз выступил в рамках отраслевых конференций,
                            указывается 3+2+6=11. Если таких сотрудников несколько, то их показатели суммируются. Детали (расшифровки по сотрудникам, участиям и мероприятиям)
                            не предоставляются в рамках анкеты.</i>
                    {{ survey_form.num_expert_employees }}
                </div>
                <div class="form-group">
                    <label for="{{ survey_form.num_employees_over_3_years.id_for_label }}">12. Количество сотрудников компании, работающих в ней более 3 лет </label>
                    <i>В случае, если сотрудник отвечает сразу нескольким критериям, указывается суммарное значение.
                        Например, входит в жюри трех премий и наблюдательный совет 2-х проф.организаций, а также 6 раз выступил в рамках отраслевых конференций,
                            указывается 3+2+6=11. Если таких сотрудников несколько, то их показатели суммируются. Детали (расшифровки по сотрудникам, участиям и мероприятиям) не предоставляются в рамках анкеты.</i>
                    {{ survey_form.num_employees_over_3_years }}
                </div>
                <div class="form-group">
                    <label for="{{ survey_form.num_employees_in_communications.id_for_label }}">13. Количество сотрудников компании, работающих в коммуникациях более 3 лет</label>
                    {{ survey_form.num_employees_in_communications }}
                </div>
                <div class="form-group">
                    <label for="{{ survey_form.num_employees_in_communications.id_for_label }}">
                        14. Количество профессиональных сертификатов, а также государственных наград, полученных сотрудниками компании за профессиональную деятельность
                    </label>
                    <i>
                        Оцениваются сертификаты и награды, которыми обладают сотрудники, работающие в компании по ситуации на конец 2023 года.
                        Время получения сертификата/награды и сроки работ, за которые получена награда, не учитываются.
                        Учитываются официальные государственные награды и благодарности, подписанные первым лицом и главами федеральных министерств.
                    </i>
                    <div class="input-row">
                        <div class="input-row__item">
                            <span class="input-row__item-title">Госнаграды РФ</span>
                            {{ survey_form.num_government_awards }}
                        </div>
                        <div class="input-row__item">
                            <span class="input-row__item-title">Профильные сертификаты РАСО, IABC, АКОС</span>
                            {{ survey_form.num_certificates }}
                        </div>
                    </div>
                </div>
                <div class="form-group files">
                    <label>15. Прикрепленные файлы</label>
                    <ul class="form-files-list">
                            {% if survey_form.instance.survey_file %}
                        <li class="files-list__item">
                            <p class="files-list__item-text">{{ survey_form.instance.survey_file.name }}</p>
                            <button type="button" class="files-list__item-delete">
                                <img src="{% static 'images/chrest.svg' %}" alt="delete img">
                            </button>
                        </li>
                            {% endif %}
                         {% if survey_form.instance.doc %}
                        <li class="files-list__item">
                            <p class="files-list__item-text">{{ survey_form.instance.doc.name }}</p>
                            <button type="button" class="files-list__item-delete">
                                <img src="{% static 'images/chrest.svg' %}" alt="delete img">
                            </button>
                        </li>
                            {% endif %}
                         {% if survey_form.instance.logo %}
                        <li class="files-list__item">
                            <p class="files-list__item-text">{{ survey_form.instance.logo.name }}</p>
                            <button type="button" class="files-list__item-delete">
                                <img src="{% static 'images/chrest.svg' %}" alt="delete img">
                            </button>
                        </li>
                            {% endif %}
                        <!-- <div class="register-img__text" style="display: flex;">
                            <span class="register-img__text-title">sdfsdfsdfsdfsd</span>
                            <div class="register-img__btn--delete">
                                <img src="{% static 'images/chrest.svg' %}" alt="delete img">
                            </div>
                        </div> -->
                    </ul>
                </div>
                <div class="survey_form__btns">
                    <input id="choose-file-doc-input" name="survey_file" type="file" style="display: none;">
                    <input id="choose-file-input" name="doc" multiple type="file" style="display: none;">
                    <input id="choose-logo-input" name="logo" type="file" style="display: none;">

                    <button id="choose-file-doc" type="button" class="btn-primary">Загрузить файл</button>
                    <button id="choose-doc" type="button" name="create_survey" value="1" class="btn-primary">Прикрепить заверенный документ</button>
                    <button id="choose-logo" type="button" name="create_survey" value="1" class="btn-primary">Прикрепить логотип</button>
                    <button type="button" name="create_survey" value="1" class="btn-primary">Редактировать</button>
                    <button type="submit" name="create_survey" value="1" class="btn-primary">Сохранить</button>
                    <button type="submit" name="submit_for_review" value="submit_for_review" class="btn-primary">Отправить на модерацию</button>
                </div>
            </form>
        </div>
    </li>
</ul>
{% endblock %}