{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{%block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/registration.css' %}">

<form class="register-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ user_form.username.id_for_label }}">Логин (email)</label>
        {{ user_form.username }}
    </div>
    <div class="form-group">
        <label for="{{ user_form.password.id_for_label }}">Пароль</label>
        {{ user_form.password }}
    </div>
    <div class="form-group">
        <label for="{{ user_form.confirm_password.id_for_label }}">Повторите пароль</label>
        {{ user_form.confirm_password }}
    </div>

    <div class="form-group">
        <label for="{{ company_form.email_for_newsletters.id_for_label }}">Email для новостей/рассылок НР2К</label>
        {{ company_form.email_for_newsletters }}
    </div>
    <div class="form-group">
        <label for="{{ company_form.company_name_full.id_for_label }}">Название компании (полное)</label>
        {{ company_form.company_name_full }}
    </div>
    <div class="form-group">
        <label for="{{ company_form.company_name_short.id_for_label }}">Название компании (краткое, до 20 символов)</label>
        {{ company_form.company_name_short }}
    </div>
    <div class="form-group register-img">
        <label>Логотип компании (png или svg)</label>
        {{ company_form.company_logo }}
        <div class="register-img__body">
            <button type="button" class="register-img__btn btn-primary">Загрузить файл</button>
            <div class="register-img__text">
                <span class="register-img__text-title"></span>
                <button type="button" class="register-img__btn--delete hidden">
                    <img src="{% static 'images/chrest.svg' %}" alt="delete img">
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="{{ company_form.postal_code.id_for_label }}">Почтовый индекс</label>
        {{ company_form.postal_code }}
    </div>
    <div class="form-group">
        <label for="{{ company_form.postal_address.id_for_label }}">Почтовый адрес (для корреспонденции)</label>
        {{ company_form.postal_address }}
    </div>
    <div class="form-group">
        <label for="{{ company_form.responsible_email.id_for_label }}">Email ответственного</label>
        {{ company_form.responsible_email }}
    </div>
    <div class="form-group">
        <label for="{{ company_form.responsible_name.id_for_label }}">Имя и фамилия ответственного</label>
        {{ company_form.responsible_name }}
    </div>
    <div class="form-group">
        <label for="{{ company_form.responsible_phone.id_for_label }}">Телефон ответственного</label>
        {{ company_form.responsible_phone }}
    </div>
    <div class="form-group">
        <!-- {{ company_form.consent_data_processing }} -->
    </div>
    <div class="confirmation-container">
        <div class="checkbox-container">
            <div class="checkbox-container__item">
                <input type="checkbox" id="id_consent_data_processing" name="id_consent_data_processing" required>
                <label class="checkbox-label" for="{{ company_form.consent_data_processing.id_for_label }}">Согласие на обработку данных и получение рассылки</label>
            </div>
            <div class="checkbox-container__item">
                <input type="checkbox" id="id_confirmation" name="id_confirmation" required>
                <label class="checkbox-label" for="{{ company_form.confirmation.id_for_label }}">Я подтверждаю:</label>
            </div>
        </div>
        <ul class="confirmation-list">
            <li>Бренд компании-участника существует на рынке более 3-х лет.</li>
            <li>Компания-участник предоставляет услуги, включённые в Классификатор коммуникационных индустрий, утверждённый Координационным советом коммуникационной индустрии при Общественной палате РФ, за исключением услуг по медиаразмещению.</li>
            <li>Учредителем (участником) компании или аффилированным лицом компании не является орган публичной власти, государственное, муниципальное учреждение, государственная корпорация и иное юридическое лицо с государственным участием.</li>
            <li>Предоставляя свои данные, агентство подтверждает согласие со структурой и методологией рейтингов, выражает доверие его организаторам, операторам и экспертному совету.</li>
        </ul>
    </div>

    <button class="register-btn" type="submit">Зарегистрироваться</button>
</form>
{% endblock %}